
build/
local

.project
.idea
*.iml

local
target
.settings
.classpath
dependency-reduced-pom.xml
hs_err*.log

.gradle/
gradle
gradlew*
gradle.properties

**/out/

venv/
*.egg-info/
dist/

*.pyc

public
